<div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-blue"><span class="progress-badge">Docker</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-blue"><span class="progress-badge">Docker Compose</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-blue"><span class="progress-badge">Kubernetes</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-blue"><span class="progress-badge">AWS</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
              </div>