<div class="row">
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">SIEM</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
        <span class="progress-value">Intermedio</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">OSSEC</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
        <span class="progress-value">Intermedio</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">Zabbix</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
        <span class="progress-value">Experto</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">OpenVAS</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
        <span class="progress-value">Avanzado</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">Snort</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
        <span class="progress-value">Intermedio</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">Keycloak</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
        <span class="progress-value">Experto</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">OWASP ZAP</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
        <span class="progress-value">Intermedio</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="progress-container progress-blue"><span class="progress-badge">OWASP Dependency Track</span>
      <div class="progress">
        <div class="progress-bar progress-bar-blue" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
        <span class="progress-value">Intermedio</span>
      </div>
    </div>
  </div>
</div>
